<?xml version="1.0"?>
<robot name="turtlebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find turtlebot_description)/urdf/common_properties.xacro" />
    <xacro:include filename="$(find turtlebot_description)/urdf/mobile_base.xacro" />
    <xacro:include filename = "$(find turtlebot_description)/urdf/lidar.xacro" />
    <xacro:include filename = "$(find turtlebot_description)/urdf/gazebo_mobile.xacro" />
</robot>
